# FOLDERS
early-late wmc (2017, 2018)
exp conjunction search training
exp Symmetry Span
PAS
thorndike stuff
work stress induction

#nback traning dual triple quadro
nback traning dual triple quadro/data/

#subjective-objective
subjective-objective/WAIS tests/
subjective-objective/WAIS tests/meta data.csv

#CMC 5-way
CMC 5-way/data/

# FILES
IIP BRIEF personality disorders.csv
IIP BRIEF personality disorders.jasp
Nanna tidsplan.xlsx

#Pre-registrations F19.docx