# FOLDERS
2016 Femininitet menstruationscyklus og attraktivitet
2017-2018 early-late wmc
2017 conjunction search training
2017 PAS
thorndike stuff
2016 stress arousal and yerkes-dodson
2016 Symmetry Span and expertise in the elderly
SPECIALER


#nback traning dual triple quadro
2019 nback traning dual triple quadro/analysis/.RData
2019 nback traning dual triple quadro/analysis/.Rproj.user
2019 nback traning dual triple quadro/analysis/.Rhistory


#subjective-objective
2018-2019 subjective-objective/WAIS tests
2018-2019 subjective-objective/WAIS tests/meta data.csv


#Pre-registrations F19.docx
.Rproj.user
